* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", serif;
}

img {
    width: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    background-image: url(bilder2/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

#figur {
    width: 250px;
    position: absolute;
    top: -400px;
    left: 30px;
}
#hinder {
    width: 200px;
    position: absolute;
    bottom: 20px;
    left: 3000px;
}

#ørn {
    width: 200px;
    position: absolute;
    bottom: 400px;
    left: 3000px;
}

#startButton {
    width: 400px;
    position: absolute;
    display: flex;
    top: 40px;
    left: 37%;
    padding: 15px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
}