* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    background-image: url(bilder2/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

#figur {
    width: 250px;
    position: absolute;
    top: -400px;
    left: 30px;
}
#hinder {
    width: 200px;
    position: absolute;
    bottom: 20px;
    left: 3000px;
}
h1 {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0;
   
}